
header{
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    width: 100%;
    top: 0;
    
  
    
}
.activeHeader{
    background: #000000bf;
    backdrop-filter: blur(6px);
}
.headerNav{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    height: 100%;
    margin: 0;
}
li{
    list-style: none;
    margin: 0 .5vh;
    
}
body{
    margin: 0;
}
.logoImage{
    height: 5vh;
}
.logo{
    padding: 2vh 0 2vh 4vh;
}

.logoA{
    display: block;
    height: 5vh;
}

/* .navButtons{
    color: white;
    padding: 1vh 3vh;
    border-radius: 5vh;
    font-family: "Oswald", sans-serif;
} */

/* .navButtons:hover{
    color: white;
    padding: 1vh 3vh;
    border-radius: 5vh;
    background: #ffffff29;
} */


.navButtonsActive{
    color: white;
    background: #ffffff29;
    color: white;
    padding: 1vh 3vh;
    border-radius: 5vh;
    font-family: "Oswald", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

.user{
    display: flex;
    margin-right: 4vh;
}
.icon{
    width: 5vh;
    color: #656565;
    cursor: not-allowed;
}

@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&family=Oswald:wght@200..700&display=swap');

.navButtons {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: white;
    padding: 1vh 3vh;
    border-radius: 5vh;
    font-family: "Oswald", sans-serif;
  }
  .navButtons:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff29;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 5vh;
  }
 
  .navButtons:hover:before, .navButtons:focus:before, .navButtons:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .mainImage{
    background-image: url(/project1/img/pexels-leon-ardho-1552242\ \(1\).jpg);
    background-size: cover;
    height: 100vh;
    
    padding: 0 18vh;
  }

  .firstSection{
    margin-top: -100vh;
    padding-top: 10vh;
    height: 100vh;
    color: white;
  }
  .mainH1{
    margin: 0;
    padding-top: 14vh;
    color: white;
    font-size: 75px;
    text-align: center;
  }