header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    top: 0;
}

.activeHeader {
    background: #000000bf;
    backdrop-filter: blur(6px);
}

.headerNav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    height: 100%;
    margin: 0;
}

li {
    margin: 0 .5vh;
}

.liNavbar {
    list-style: none;
    margin: 0 .5vh;
}

body {
    margin: 0;
    background: #0e0e0e;
}

.logoImage {
    height: 5vh;
}

.logo {
    padding: 2vh 0 2vh 4vh;
}

.logoA {
    display: block;
    height: 5vh;
}


.navButtonsActive {
    color: white;
    background: #ffffff29;
    color: white;
    padding: 1vh 3vh;
    font-family: "Oswald", sans-serif;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: inherit;
}

.user {
    display: flex;
    margin-right: 4vh;
}

.icon {
    width: 5vh;
    color: #656565;
    cursor: not-allowed;
}

@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&family=Oswald:wght@200..700&display=swap');

.navButtons {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: white;
    padding: 1vh 3vh;
    font-family: "Oswald", sans-serif;
    border-radius: 3px;
}

.navButtons:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff29;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 3px;

}

.navButtons:hover:before,
.navButtons:focus:before,
.navButtons:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.mainImage {
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 50%), url(/project1/img/pexels-leon-ardho-1552242\ \(1\).jpg);
    background-size: cover;
    height: 120vh;

    padding: 0 18vh;
}

.aboutImage {
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 50%), url(/project1/img/pexels-leon-ardho-1552252.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 0 18vh;
}

.programsImage {
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(14, 14, 14, 1) 100%), url(/project1/img/jump.jpg);
    background-size: cover;
    height: 80vh;
    text-align: center;
    padding: 0 18vh;
    background-position: center;
}

.nutritionImage {
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(14, 14, 14, 1) 100%), url(/project1/img/cooking.jpg);
    background-size: cover;
    height: 78vh;
    text-align: center;
    padding: 0 18vh;
    background-position: center;
}
.testimonialImage {
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(14, 14, 14, 1) 100%), url(/project1/img/testimonies.jpg);
    background-size: cover;
    height: 78vh;
    text-align: center;
    padding: 0 18vh;
    background-position: top;
}
.contactImage {
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(14, 14, 14, 1) 100%), url(/project1/img/weights.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 0 18vh;
    background-position: center;
}
.firstSection {
    margin-top: -100vh;
    padding-top: 10vh;
    height: 100vh;
    color: white;
    border-radius: 3px;
}

.mainH1 {
    margin: 0;
    padding-top: 14vh;
    color: white;
    font-size: 75px;
    text-align: center;
}

.image {
    width: -webkit-fill-available;
}

.imageDiv {
    width: 50%;
    padding: 2vh;
}

section {
    margin: 10vh 5vh;
    background: white;
    border-radius: 3px;
}

.textImage {
    width: 50%;
    padding: 5vh;
}

.split {
    display: flex;
}

h2 {
    font-size: 6vh;
}

h3 {
    font-size: 4vh;
}

footer {
    color: #ffffff6b;
    border-top: solid 1px #ffffff42;
    text-align: center;
    padding: 1vh;
}

.buttonPrimary {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 2vh 4vh;
    border: none;
    background: #bad546;
    font-weight: 600;
    cursor: pointer;
    margin-top: 3vh;
    border-radius: 3px;
}

.buttonPrimary:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9832f;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 3px;
}

.buttonPrimary:hover,
.buttonPrimary:focus,
.buttonPrimary:active {
    color: white;
}

.buttonPrimary:hover:before,
.buttonPrimary:focus:before,
.buttonPrimary:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.imgAbout {
    height: 22vh;
}

.aboutBfit {
    display: flex;
    color: white;
    height: 60vh;
    align-items: center;
    font-size: 3vh;
}

.callToAction {
    color: #bad546;
    text-align: center;
    padding: 0 30vh 11vh 30vh;
}

.program {
    width: 33%;
}

.containerPrograms {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5vh
}

.card {
    background-color: white;
    padding: 1.5vh;
    height: 80vh;
    text-align: center;
    border-radius: 3px;

}

.cardContainer {
    padding: 2vh;

}


.cardIMGcontainer img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.cardIMGcontainer2 img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.calculator {
    background: white;
    margin: 5vh 39vh;
    padding: 4vh 8vh;
    border-radius: 2px;
    text-align: center;
}

.secondtitle {
    text-align: center;
    color: #bad546;
}

@keyframes show {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.smooth {
    animation-name: show;
    animation-duration: 1s;
}

.labelQ {
    font-weight: 600;
    font-size: 2.5vh;
    line-height: 6vh;
}

select {
    padding: 2vh 7vh 2vh 3vh;
    background-color: white;
    border: thin solid rgb(48, 48, 48);
    display: inline-block;
    font: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
}


select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1.5em + 2px), calc(100% - 15px) calc(1.5em + 2px), calc(106% - 3.2em) 0.3em;
    background-size: 5px 5px, 5px 5px, 1px 2.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {

    background-repeat: no-repeat;
    border-color: #f9832f;
    outline: 0;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}



input {
    padding: 2vh 4vh;
}

.iconButton {
    height: 2.5vh;
    margin-left: 1vh;
    margin-bottom: -0.5vh;
}

.divcalcNut {
    margin-bottom: 20px;
}

.contactBox{
    margin: 10vh 35vh;
    background: white;
    border-radius: 3px;
    margin-top: -65vh;
}

.inputContact{
    width:-webkit-fill-available;
}
blockquote{
    font-size: larger;
    margin: 6vh 0;
    text-align: center;
}
cite{
    float: right;
    font-size: larger;
}
.testimoniCard{
    margin: 10vh 24vh;
}