/* =============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =============== VARIABLES CSS =============== */
:root {
  --header-height: 3.5rem;

  /* ========== Colors ========== */
  --first-color: #BDD630;
  --second-color: #F18121;
  --first-color-light: #d9fd8b;
  --first-color-alt: #a3d733;
  --first-color-dark: #9dd02f;
  --first-color-gray: #a5a99e;
  --title-color: #fafafa;
  --title-color-black: #1d2020;
  --text-color: #b5baba;
  --text-color-light: #a2a9a9;
  --body-color: #121717;

  /* ========== Font and typography ========== */
  --body-font: "Poppins", sans-serif;
  --second-font: "Madimi One", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* ========== Font weight ========== */
  --font-bold: 700;
  --font-black: 900;

  /* ========== z index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* =============== BASE =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color-black);
}

img {
  max-width: 100%;
  height: auto;
}

/* =============== REUSABLE CSS CLASSES =============== */
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section_data {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section_title,
.section_title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section_subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section_titles {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
}

.section_title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

.color-red {
  color: #ed5a5a;
}

.color-green {
  color: var(--first-color);
}

/* =============== HEADER & NAV =============== */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background .3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  display: flex;
}

.nav_logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
}

.nav_logo img {
  width: 6.25rem;
}

.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav_menu {
    position: fixed;
    background-color: #121717cc;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--first-color-gray);
    transition: right .3s;
  }
}

.nav_list {
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link {
  color: var(--title-color);
  transition: color .3s;
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav .nav_button {
  background-color: var(--second-color);
  border: none;
  color: var(--title-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 8px #090b0b4d;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* =============== HOME =============== */
.home {
  position: relative;
  padding-bottom: 0;
}

.home_container {
  padding-top: 4rem;
  row-gap: 3rem;
}

.home_data {
  text-align: center;
}

.home_subtitle {
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--second-color);
  color: transparent;
}

.home_title {
  font-size: var(--biggest-font-size);
  margin: .5rem 0;
}

.home_subtitle,
.home_title {
  letter-spacing: 1.5px;
}

.home_description {
  margin-bottom: 2.5rem;
}

.home_triangle {
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.home_triangle-1 {
  width: 105px;
  background-color: var(--first-color);
}

.home_triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}

.home_triangle-3 {
  width: 305px;
  background-color: var(--first-color-dark);
}

.home_img {
  display: block;
  position: relative;
  z-index: 1;
  width: 350px;
  margin: 0 auto;
}

/* =============== BUTTON =============== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 18px 32px;
  border: 2px solid var(--first-color-light);
  counter-reset: var(--title-color-black);
  font-weight: 500;
  cursor: pointer;
  transition: background .3s;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  font-size: 1.25rem;
  transition: transform .3s;
}

.button_flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  background-color: var(--second-color);
  border: none;
}

.button_flex:hover i {
  transform: translateX(.25rem);
}

/* =============== LOGOS =============== */
.logos_container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}

.logos_img {
  width: 120px;
  filter: grayscale(100%);
}

/* =============== PROGRAM =============== */
.program_container {
  grid-template-columns: 225px;
  justify-content: center;
  row-gap: 2rem;
}

.program_card {
  display: grid;
  background-color: #a5a99e12;
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background .5s, border .4s;
  border-radius: 0.5rem;
}

.program_img {
  width: 38px;
}

.program_shape {
  width: 50px;
  height: 50px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background .5s;
}

.program_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.program_description {
  font-size: var(--small-font-size);
  letter-spacing: .5px;
  line-height: 150%;
}

.program_title,
.program_description {
  transition: color .5s;
}

.program_button {
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  transition: opacity .4s;
}

.program_button i {
  display: block;
  transition: transform .3s;
}

.program_button:hover i {
  transform: translateX(.25rem);
}

.program_card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.program_card:hover .program_shape {
  background-color: var(--first-color-light);
}

.program_card:hover .program_title,
.program_card:hover .program_description {
  color: var(--title-color-black);
}

.program_card:hover .program_button {
  opacity: 1;
}

/* =============== CHOOSE =============== */
.choose {
  padding-bottom: 0;
}

.choose_overflow {
  position: relative;
}

.choose_container {
  row-gap: 3rem;
}

.choose_content .section_data {
  margin-bottom: 2rem;
}

.choose_description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose_data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.choose_group {
  text-align: center;
}

.choose_number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: .25rem;
}

.choose_subtitle {
  font-size: var(--small-font-size);
}

.choose_triangle {
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.choose_triangle-1 {
  width: 305px;
  background-color: var(--first-color);
}

.choose_triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}

.choose_triangle-3 {
  width: 105px;
  background-color: var(--first-color-dark);
}

.choose_img {
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 1 auto;
}

/* =============== PRICING =============== */
.pricing_container {
  grid-template-columns: 285px;
  justify-content: center;
  row-gap: 2rem;
}

.pricing_card,
.pricing_shape,
.pricing_list {
  display: grid;
}

.pricing_card {
  row-gap: 2rem;
  background-color: #a5a99e12;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
}

.pricing_img {
  width: 35px;
}

.pricing_shape {
  width: 60px;
  height: 60px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  place-items: center;
  margin-bottom: 1rem;
}

.pricing_title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 1rem;
}

.pricing_number {
  font-size: var(--h1-font-size);
}

.pricing_number span {
  font-size: small;
  font-weight: 500;
}

.pricing_list {
  row-gap: 1rem;
}

.pricing_item {
  display: flex;
  column-gap: .5rem;
  align-items: center;
  font-size: var(--small-font-size);
}

.pricing_item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.pricing_item-opacity {
  opacity: .3;
}

.pricing_button {
  background-color: var(--title-color);
}

.pricing_card-active {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.pricing_card-active .pricing_shape {
  background-color: var(--first-color-light);
}

.pricing_card-active .pricing_item i {
  color: var(--title-color);
}

.pricing_card-active .pricing_title,
.pricing_card-active .pricing_number,
.pricing_card-active .pricing_item {
  color: var(--title-color-black);
}

/* =============== CALCULATE =============== */
.calculate {
  padding-bottom: 0;
}

.calculate_container {
  row-gap: 4rem;
}

.calculate_content .section_titles {
  margin-bottom: 2rem;
  text-align: center;
}

.calculate_description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.calculate_form {
  display: grid;
  row-gap: 1rem;
}

.calculate_box {
  position: relative;
  border: 2px solid var(--first-color-light);
  border-radius: 0.5rem;
}

.calculate_input {
  width: 100%;
  background: transparent;
  padding: 20px 56px 20px 24px;
  outline: none;
  border: none;
  color: var(--text-color);
}

.calculate_input::-webkit-outer-spin-button,
.calculate_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculate_input[type=number] {
  -moz-appearance: textfield;
}

.calculate_label {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  color: var(--title-color);
}

.calculate_form .button {
  margin-top: 1.5rem;
}

.calculate_img {
  /* width: 200px; */
  justify-self: center;
}

.calculate_message {
  position: absolute;
  transform: translateY(1rem);
}

/* =============== FOOTER =============== */
.footer_container {
  row-gap: 4rem;
  padding-top: 1rem;
}

.footer_logo,
.footer_description {
  color: var(--title-color);
}

.footer_logo,
.footer_form,
.footer_social {
  display: flex;
}

.footer_logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.footer_logo img {
  width: 5.5rem;
}

.footer_description {
  margin-bottom: 2rem;
}

.footer_form {
  flex-direction: column;
  gap: 1.25rem;
}

.footer_input {
  padding: 20px 56px 20px 24px;
  border: 2px solid var(--first-color-light);
  background: transparent;
  color: var(--text-color);
  outline: none;
  border-radius: 0.5rem;
}

.footer_content,
.footer_links,
.footer_group {
  display: grid;
}

.footer_content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer_links {
  row-gap: .75rem;
}

.footer_link {
  color: var(--text-color);
  transition: color .3s;
}

.footer_link:hover {
  color: var(--first-color);
}

.footer_group {
  margin-top: 5rem;
  justify-items: center;
  row-gap: 2rem;
  border-radius: 0.5rem;
}

.footer_social {
  column-gap: 1.25rem;
}

.footer_social-link {
  display: inline-flex;
  padding: .35rem;
  background-color: var(--first-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: background .4s;
}

.footer_social-link:hover {
  background-color: var(--first-color-dark);
}

.footer_copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer_message {
  position: absolute;
  transform: translateY(1rem);
}

/* =============== SCROLL BAR =============== */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: .5rem;
  background-color: #272825;
}

::-webkit-scrollbar-thumb {
  background-color: #41423d;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b5d56;
}

/* =============== SCROLL UP =============== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--first-color);
  display: inline-flex;
  padding: 1rem;
  color: var(--title-color-black);
  font-size: 1.75rem;
  z-index: var(--z-tooltip);
  transition: .3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}


/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
  border-radius: 0.3rem;
}

/* =============== BREAKPOINTS =============== */
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section_titles {
    flex-direction: column;
    row-gap: .25rem;
  }

  .home_triangle,
  .choose_triangle {
    height: 255px;
  }

  .home_triangle-3,
  .choose_triangle-1 {
    height: 260px;
  }

  .choose_img {
    width: 195px;
  }

  .pricing_container {
    grid-template-columns: 250px;
  }

  .pricing_card {
    padding: 1.5rem;
  }

  .footer_container {
    grid-template-columns: 1fr;
  }
}


/* For medium devices */
@media screen and (min-width: 768px) {
  .nav_menu {
    width: 50%;
  }

  .home_container,
  .choose_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home_data,
  .choose_content .section__data,
  .choose_description,
  .calculate_description {
    text-align: initial;
  }

  .logos_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .program_container {
    grid-template-columns: repeat(2, 225px);
    gap: 2.5rem;
  }

  .choose_content {
    order: 1;
  }

  .choose_data {
    justify-items: flex-start;
  }

  .choose_content .section__titles,
  .calculate_content .section__titles {
    justify-content: initial;
  }

  .pricing_container {
    grid-template-columns: repeat(2, 285px);
    gap: 2.5rem;
  }

  .calculate_container {
    grid-template-columns: 1fr .8fr;
    align-items: center;
  }

  .calculate_form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .calculate_form .button {
    grid-column: 1 / 3;
  }

  .footer_container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer_content {
    grid-template-columns: repeat(3, max-content);
  }
}


/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav_menu {
    width: initial;
  }

  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_list {
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 4rem;
  }

  .section {
    padding: 7rem 0 0;
  }

  .section__subtitle {
    font-size: 2rem;
  }

  .home_container {
    grid-template-columns: repeat(2, max-content);
    align-items: initial;
  }

  .home_title {
    margin: -1.5rem 0 1.25rem;
  }

  .home_description {
    width: 445px;
    margin-bottom: 3rem;
  }

  .home_img {
    width: 550px;
    transform: translateX(-6rem);
  }

  .home_triangle {
    height: 700px;
  }

  .home_triangle-1 {
    width: 145px;
  }

  .home_triangle-2 {
    width: 345px;
  }

  .home_triangle-3 {
    width: 545px;
  }

  .logos {
    padding: 3.5rem 0 1rem;
  }

  .logos_img {
    width: 190px;
  }

  .choose_overflow {
    overflow: hidden;
  }

  .choose_img {
    width: 350px;
  }

  .choose_triangle {
    height: 700px;
  }

  .choose_triangle-1 {
    width: 545px;
  }

  .choose_triangle-2 {
    width: 345px;
  }

  .choose_triangle-3 {
    width: 145px;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .footer_form {
    flex-direction: row;
  }

  .footer_content {
    column-gap: 5rem;
  }

  .footer_group {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-top: 7rem;
  }

  .footer_social {
    order: 1;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home_data {
    padding-top: 3rem;
  }

  .home_images {
    transform: translateX(-1rem);
  }

  .home_img {
    width: 700px;
    transform: translateX(2rem);
  }

  .home_triangle {
    height: 995px;
  }

  .home_triangle-1 {
    width: 205px;
  }

  .home_triangle-2 {
    width: 505px;
  }

  .home_triangle-3 {
    width: 705px;
  }

  .program_container {
    grid-template-columns: repeat(4, 245px);
    padding: 3rem 0;
  }

  .program_card {
    padding: 2rem;
  }

  .program_description {
    font-size: var(--normal-font-size);
  }

  .choose_container {
    column-gap: 8rem;
  }

  .choose_img {
    width: 450px;
    margin: 0 0 0 auto;
  }

  .choose_triangle {
    height: 800px;
  }

  .choose_images {
    position: relative;
  }

  .choose_data {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 8rem;
  }

  .choose_description {
    width: 418px;
    margin-bottom: 3.5rem;
  }

  .pricing_container {
    padding-top: 3rem;
    grid-template-columns: repeat(3, 320px);
  }

  .pricing_card {
    padding: 2rem 3.5rem;
    row-gap: 2.5rem;
  }

  .calculate_description {
    width: 415px;
  }

  .calculate_form {
    width: 505px;
  }

  .scrollup {
    right: 3rem;
  }
}