/* =============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =============== VARIABLES CSS =============== */
:root {
    --header-height: 3.5rem;
  
    /* ========== Colors ========== */
    --first-color: #BDD630;
    --second-color: #F18121;
    --first-color-light: #d9fd8b;
    --first-color-alt: #a3d733;
    --first-color-dark: #9dd02f;
    --first-color-gray: #a5a99e;
    --title-color: #fafafa;
    --title-color-black: #1d2020;
    --text-color: #b5baba;
    --text-color-light: #a2a9a9;
    --body-color: #121717;
  
    /* ========== Font and typography ========== */
    --body-font: "Poppins", sans-serif;
    --second-font: "Madimi One", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /* ========== Font weight ========== */
    --font-bold: 700;
    --font-black: 900;
  
    /* ========== z index ========== */
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Responsive typography */
  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 6rem;
      --bigger-font-size: 3.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

  /* =============== BASE =============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body,
  button,
  input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--title-color-black);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* =============== REUSABLE CSS CLASSES =============== */
  .container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .section {
    padding: 4.5rem 0 2rem;
  }
  
  .section_data {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .section_title,
  .section_title-border {
    font-size: var(--big-font-size);
    letter-spacing: 1.5px;
  }
  
  .section_subtitle {
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--first-color);
    transform: rotate(-2deg);
  }
  
  .section_titles {
    display: flex;
    column-gap: .75rem;
    justify-content: center;
  }
  
  .section_title-border {
    -webkit-text-stroke: 1px var(--text-color);
    color: transparent;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }
  
  .color-red {
    color: #ed5a5a;
  }
  
  .color-green {
    color: var(--first-color);
  }

  /* =============== HEADER & NAV =============== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background .3s;
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav_logo,
  .nav_toggle {
    color: var(--title-color);
    display: flex;
  }
  
  .nav_logo {
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-bold);
  }
  
  .nav_logo img {
    width: 6.25rem;
  }
  
  .nav_toggle {
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1023px) {
    .nav_menu {
      position: fixed;
      background-color: #121717cc;
      backdrop-filter: blur(32px);
      -webkit-backdrop-filter: blur(32px);
      top: 0;
      right: -100%;
      width: 80%;
      height: 100%;
      border-left: 2px solid var(--first-color-gray);
      transition: right .3s;
    }
  }
  
  .nav_list {
    padding: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav_link {
    color: var(--title-color);
    transition: color .3s;
  }
  
  .nav_link:hover {
    color: var(--first-color);
  }
  
  .nav_close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
  }
  
  .nav .nav_button {
    background-color: var(--second-color);
    border: none;
    color: var(--title-color);
  }

  /* Show menu */
.show-menu {
    right: 0;
  }

  /* Change background header */
.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 4px 8px #090b0b4d;
  }